<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Hospital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="$router_link-active$">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['register']" routerLinkActive="$router_link-active$">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['check-in']" routerLinkActive="$router_link-active$">Check-in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['check-out']" routerLinkActive="$router_link-active$">Check-out</a>
      </li>
    </ul>
  </div>
</nav>
