<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register</h3>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputRegisterEmail">User name</label>
          <input type="text" name="username" ngModel required #username="ngModel" class="form-control" id="inputRegisterEmail">
        </div>
        <div class="form-group col-md-6">
          <label for="inputRegisterPassword">Password</label>
          <input type="password" name="password" ngModel required #password="ngModel" class="form-control" id="inputRegisterPassword">
        </div>
      </div>
      <div class="form-group">
        <label for="inputRegisterAddress">Email</label>
        <input type="text"  name="email" ngModel required #email="ngModel" class="form-control" id="inputRegisterAddress" placeholder="your address">
      </div>
      <div class="form-group">
        <label for="inputRegisterPhone">Phone</label>
        <input type="text" name="phone" ngModel required #phone="ngModel" class="form-control" id="inputRegisterPhone" placeholder="your phone number">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputRegisterCity">County</label>
          <select id="inputRegisterCity" name="city" ngModel required #city="ngModel" class="form-control">
            <option selected>Choose</option>
            <option>Brasov</option>
            <option>Constanta</option>
            <option>Bucuresti</option>
            <option>Iasi</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputRegisterCounty">County</label>
          <select id="inputRegisterCounty" name="county" ngModel required #county="ngModel" class="form-control">
            <option selected>Choose</option>
            <option>Brasov</option>
            <option>Constanta</option>
            <option>Bucuresti</option>
            <option>Iasi</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputRegisterZip">Zip</label>
          <input type="text" name="zip" ngModel required #zip="ngModel" class="form-control" id="inputRegisterZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            I agree with terms and conditions
          </label>
        </div>
      </div>
      <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
