<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Login</h3>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group">
        <label for="loginInputUsername">Username</label>
        <input name="username" ngModel required #username="ngModel" type="email" class="form-control"
               id="loginInputUsername">
      </div>
      <div class="form-group">
        <label for="loginInputPassword">Password</label>
        <input name="password" ngModel required #password="ngModel" type="password" class="form-control"
               id="loginInputPassword">
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
