<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Check-in</h3>
    <form #checkInForm="ngForm" (ngSubmit)="onSubmit(checkInForm)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCheckInFullName">Full name</label>
          <input type="text" name="fullName" ngModel required #fullName="ngModel" class="form-control" id="inputCheckInFullName">
        </div>
        <div class="form-group">
          <label for="inputCheckInCnp">CNP</label>
          <input type="text" name="cnp" ngModel required #cnp="ngModel" class="form-control" id="inputCheckInCnp">
        </div>
      </div>
      <div class="form-group">
        <label for="inputCheckInPhone">Phone</label>
        <input type="tel" name="phone" ngModel required #phone="ngModel" class="form-control" id="inputCheckInPhone">
      </div>
      <button type="submit" [disabled]="checkInForm.invalid" class="btn btn-primary">Check In</button>
      <div *ngIf="patientCheckedIn === true">
        <p class="text-danger">Patient is already checked in!</p>
      </div>
      <div *ngIf="patientCheckedIn === false">
        <p class="text-success">Patient successfully checked in!</p>
      </div>
    </form>
  </div>
</div>
