<div class="container">

  <h1 class="my-4">Choose
    <small>what you want to do</small>
  </h1>

  <div class="row">
    <div class="col-md-7">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://images.unsplash.com/photo-1504813184591-01572f98c85f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="">
    </div>
    <div class="col-md-5">
      <h3>Check-in</h3>
      <p>New patient? Check in!</p>
      <p> If a new patient has arrived and he needs to be hospitalized, you can record this.</p>
      <a class="btn btn-primary" href="check-in">Check-in</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-7">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://images.unsplash.com/photo-1584516150909-c43483ee7932?ixlib=rb-1.2.1&auto=format&fit=crop&w=1010&q=80" alt="">
    </div>
    <div class="col-md-5">
      <h3>Check-out</h3>
      <p>The patient recovered? Check-out!</p>
      <p>When the patient feels better and the time of discharge has come, you have to take him out of our records.</p>
      <a class="btn btn-primary" href="check-out">Check-out</a>
    </div>
  </div>
</div>
