<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Checked in patients</h3>
    <h4 *ngIf="!hasPatients">There are no patients checked in!</h4>
    <table class="table table-bordered" *ngIf="hasPatients">
      <thead>
      <tr>
        <th>Full Name</th>
        <th>CNP</th>
        <th>Phone</th>
        <th>Check out</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients | keyvalue">
        <td>{{patient.value.fullName}}</td>
        <td>{{patient.value.cnp}}</td>
        <td>{{patient.value.phone}}</td>
        <td><button class="btn btn-primary" (click)="checkOut(patient.value.cnp)">Check out</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
