<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Hospital
    <small>Check-in/out system</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <a><img src="https://i.ibb.co/Qp902Ph/New-Project-8.png" alt="New-Project-8" border="0"></a>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>Doctors can have a clear view of the resources available in the hospital.</p>
      <p>They will have to authenticate, after which they will have access to the number of hospitalized patients.</p>
      <p>They will be able to make new hospitalizations or to discharge patients</p>
      <h3 class="my-3">Project Features</h3>
      <ul>
        <li>Login</li>
        <li>Register</li>
        <li>Check-in</li>
        <li>Check-out</li>
      </ul>
    </div>

  </div>

</div>
<!-- /.container -->
